<h1 class='display-3 mt-5 mb-4'>Curriculum Vitae</h1>
<resume-images></resume-images>
<resume-detail></resume-detail>
<resume-experience></resume-experience>
<resume-education></resume-education>
<resume-projects></resume-projects>
<resume-other-stuff></resume-other-stuff>