<h2 class="mt-2">Education</h2>
<div *ngIf="educationService.details">
    <div class="container">
        <span *ngFor="let expe of educationService.details">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-2">{{expe.fromDate}} - {{expe.toDate}}</div>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <b><a href="{{expe.website}}" target="_blank">{{expe.title}}</a></b> ({{expe.description}})
                </div>
            </div>
        </span>
    </div>
</div>