<div class="float-right">
    <div class="d-block" style="width:5cm;height:8.7cm;">
        <carousel [interval]="myInterval" [noWrap]="noWrapSlides">
            <slide *ngFor="let slide of slides">
                <img [src]="slide.image" class="img-thumbnail" style="margin:auto;">
            </slide>
        </carousel>
    </div>
</div>