<h2 class="mt-2">Projects</h2>
<div *ngIf="projectsService.details">
    <div class="container">
        <span *ngFor="let expe of projectsService.details">
            <div class="row mb-1">
                <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2">{{expe.fromDate}} - {{expe.toDate}}</div>
                <div class="col-sm-9 col-md-10 col-lg-10 col-xl-10">
                    <b *ngIf="expe.website"><a href="{{expe.website}}" target="_blank">{{expe.title}}</a></b>
                    <b *ngIf="!expe.website">{{expe.title}}</b>
                    <span *ngIf="expe.description">({{expe.description}})</span><br>
                    <span *ngFor="let tech of expe.technologies | sortArray">
                        <span class="badge badge-default">{{tech}}</span>
                    </span>
                </div>
            </div>
        </span>
    </div>
</div>