<div *ngIf="detailService.details">
    <address>
        <strong>{{detailService.details.name}}</strong><br>
        {{detailService.details.address1}}<br>
        {{detailService.details.address2}}<br>
        <abbr title="Phone" class="initialism"><i class="fa fa-phone"></i></abbr>
        {{detailService.details.phone}}<br>
        <abbr title="E-Mail" class="initialism"><i class="fa fa-envelope"></i></abbr> <a href="mailto:#">{{detailService.details.email}}</a><br>
        <abbr title="Website" class="initialism"><i class="fa fa-home"></i></abbr> <a
            href="{{detailService.details.website}}">{{detailService.details.website}}</a><br>
        <abbr title="Languages" class="initialism"><i class="fa fa-language"></i></abbr>
        {{detailService.details.languages}}<br>
    </address>

    <h2 class="mt-4">Objective</h2>
    <p class="lead">{{detailService.details.objective}}</p>

    <h2 class="mt-3">Technical Skills</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-2">Programming:</div>
            <div class="col-md-10">
                    <span *ngFor="let pl of detailService.details.programminglanguages | sortArray">
                        <span class="badge badge-primary">{{pl}}</span>
                    </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">Libraries:</div>
            <div class="col-md-10">
                    <span *ngFor="let pl of detailService.details.libraries | sortArray">
                        <span class="badge badge-warning">{{pl}}</span>
                    </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">Code Editors:</div>
            <div class="col-md-10">
                    <span *ngFor="let pl of detailService.details.development | sortArray">
                        <span class="badge badge-success">{{pl}}</span>
                    </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">OS Experience:</div>
            <div class="col-md-10">
                    <span *ngFor="let pl of detailService.details.os | sortArray">
                        <span class="badge badge-info">{{pl}}</span>
                    </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">Hardware:</div>
            <div class="col-md-10">
                    <span *ngFor="let pl of detailService.details.hardware | sortArray">
                        <span class="badge badge-danger">{{pl}}</span>
                    </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">Graphics:</div>
            <div class="col-md-10">
                    <span *ngFor="let pl of detailService.details.graphics | sortArray">
                        <span class="badge badge-warning">{{pl}}</span>
                    </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">Other Tools:</div>
            <div class="col-md-10">
                    <span *ngFor="let pl of detailService.details.tools | sortArray">
                        <span class="badge badge-default">{{pl}}</span>
                    </span>
            </div>
        </div>
    </div>
</div>