<h2 class="mt-2">Experience</h2>
<div *ngIf="experienceService.details">
    <div class="container">
        <span *ngFor="let expe of experienceService.details">
            <div class="row mb-1">
                <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2">{{expe.fromDate}} - {{expe.toDate}}</div>
                <div class="col-sm-9 col-md-10 col-lg-10 col-xl-10">
                    <b><a href="{{expe.website}}" target="_blank">{{expe.title}}</a></b> ({{expe.description}})<br>
                    <span class="badge badge-warning">{{expe.role}}</span>
                    <span *ngFor="let tech of expe.technology | sortArray">
                        <span class="badge badge-default">{{tech}}</span>
                    </span>
                </div>
            </div>
        </span>
    </div>
</div>