<nav class="navbar navbar-toggleable-md navbar-light bg-faded rounded-bottom" style="background-color: #e3f2fd;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggleContent" aria-controls="navbarToggleContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Marc Menghin</a>
    <div class="collapse navbar-collapse" id="navbarToggleContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">CV <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
            <div class="d-flex flex-row">
                <div>
                    <a class="p-1" href="https://bitbucket.org/MarcMenghin/" target="_blank"><i class="fa fa-bitbucket-square fa-2x"></i></a>
                </div>
                <div>
                    <a class="p-1" href="https://github.com/MarcMenghin" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
                </div>
                <div>
                    <a class="p-1" href="https://www.linkedin.com/in/marcmenghin" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </div>
                <div>
                    <a class="p-1" href="https://www.xing.com/profile/Marc_Menghin" target="_blank"><i class="fa fa-xing-square fa-2x"></i></a>
                </div>
                <div>
                    <a class="p-1" href="http://steamcommunity.com/id/gamingmarc/" target="_blank"><i class="fa fa-steam-square fa-2x"></i></a>
                </div>
            </div>
        </span>
    </div>
</nav>