<div class="d-flex justify-content-center mt-5"><p class="text-muted mb-1">Copyright <i class="fa fa-copyright"></i> 1996-2017 Marc Menghin - Icons: <a href="http://fontawesome.io" target="_blank">Font Awesome by Dave Gandy</a></p></div>